.twolinebox {
	padding: 12px 16px 0px;
	border-bottom:1px solid #F2F2F2;
}

.twolinebox .twolineflex {
	display: flex;
}

 .tlotitle {
	padding: 16px;
	border-bottom: 1px solid #F2F2F2;
	font-size:14px;
	font-weight:600;
	color:rgba(44,46,46,1);
}


.twolinebox .twolineflex view {
	text-align: left;
	font-size:14px;
	font-weight:500;
	color:rgba(51,51,51,1);
}

.twolinebox .twolineflex .left {
	flex: 2;
}

.twolinebox .twolineflex .right {
	flex: 1;
}

.twolinebox .twolineflex .right view,
.twolinebox .twolineflex .left view {
	padding-bottom: 12px;
}


